<template>
  <div>
    <h1>Страница с постами</h1>
    <UIInput
        v-focus
        v-model.trim="searchQuery"
        placeholder="Поиск"
    />
    <div class="app_btns">
      <UIButton
          class="btn_create"
          @click="showDialog"
      >Создать пост
      </UIButton>
      <UISelect
          v-model="selectedSort"
          :options="sortOptions"
      >
      </UISelect>
    </div>
    <UIDialog v-model:show="dialogVisible">
      <PostForm
      />
    </UIDialog>
    <PostList
        :posts="sortedAndSearchedPosts"
        v-if="!isPostsLoading"
    />
    <div v-intersection="fetchMorePosts" class="observer"></div>
  </div>
</template>

<script>
import PostForm from "@/components/PostForm";
import PostList from "@/components/PostList";
import UIDialog from "@/components/UI/UIDialog";
import UIButton from "@/components/UI/UIButton";
import UISelect from "@/components/UI/UISelect";
import UIInput from "@/components/UI/UIInput";
import {usePosts} from "@/hooks/usePosts";
import useSortedPosts from "@/hooks/useSortedPosts"
import useSortedAndSearchedPosts from "@/hooks/useSortedAndSearchedPosts";

export default {
  components: {
    UIInput,
    UISelect,
    UIButton,
    UIDialog,
    PostList,
    PostForm
  },
  data() {
    return {
      dialogVisible: false,
      sortOptions: [
        {value: 'title', name: 'По названию'},
        {value: 'body', name: 'По описанию'}
      ]
    }
  },
  setup(){
    const {posts, totalPages, isPostsLoading} = usePosts(10)
    const {selectedSort, sortedPosts} = useSortedPosts(posts)
    const {searchQuery, sortedAndSearchedPosts} = useSortedAndSearchedPosts(sortedPosts)

    return {
      posts,
      totalPages,
      isPostsLoading,
      selectedSort,
      sortedPosts,
      searchQuery,
      sortedAndSearchedPosts
    }
  }
}
</script>

<style>
.app_btns {
  display: flex;
  justify-content: space-between;
}
.btn_create {
  border: 10px;
  width: 25%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid teal;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.observer {
  height: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>