<template>
  <div class="app">
    <h1>Страница с постами</h1>
    <UIInput
        :model-value="searchQuery"
        @update:model-value="setSearchQuery"
        placeholder="Поиск"
        v-focus
    />
    <div class="app_btns">
      <UIButton
          class="btn_create"
          @click="showDialog"
      >Создать пост
      </UIButton>
      <UISelect
          :model-value="selectedSort"
          @update:model-value="setSelectedSort"
          :options="sortOptions"
      >
      </UISelect>
    </div>
    <UIDialog v-model:show="dialogVisible">
      <PostForm
          @create="createPost"
      />
    </UIDialog>
    <PostList
        :posts="sortedAndSearchedPosts"
        @remove="removePost"
        v-if="!isPostsLoading"
    />
    <div v-else>Идет загрузка...</div>
    <div v-intersection="getMorePostFromApi" class="observer"></div>
  </div>
</template>

<script>


import UIButton from "@/components/UI/UIButton";
import UIInput from "@/components/UI/UIInput";
import UIDialog from "@/components/UI/UIDialog";
import PostList from "@/components/PostList";
import PostForm from "@/components/PostForm";
import UISelect from "@/components/UI/UISelect";
import {mapMutations, mapState, mapGetters, mapActions} from "vuex"
export default {
  components: {
    UISelect,
    PostForm,
    PostList,
    UIDialog,
    UIInput,
    UIButton

  },
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    ...mapMutations({
      setPage: 'post/setPage',
      setSearchQuery: 'post/setSearchQuery',
      setSelectedSort: 'post/setSelectedSort'
    }),
    ...mapActions({
      getMorePostFromApi: 'post/getMorePostFromApi',
      getPostFromApi: 'post/getPostFromApi'
    }),
    createPost(post){
      this.posts.push(post)
      this.dialogVisible = false
    },
    removePost(post){
      this.posts = this.posts.filter(p => p.id !== post.id)
    },
    showDialog(){
      this.dialogVisible = true
    },
  },
  mounted() {
    this.getPostFromApi()
  },
  computed: {
    ...mapState({
      posts: state => state.post.posts,
      isPostsLoading: state => state.post.isPostsLoading,
      selectedSort: state => state.post.selectedSort,
      searchQuery: state => state.post.searchQuery,
      page: state => state.post.page,
      limit: state => state.post.limit,
      totalPages: state => state.post.totalPages,
      sortOptions: state => state.post.sortOptions
    }),
    ...mapGetters({
      sortedPosts: 'post/sortedPosts',
      sortedAndSearchedPosts: 'post/sortedAndSearchedPosts'
    })
  },
}
</script>

<style>
.app_btns {
  display: flex;
  justify-content: space-between;
}
.observer {
  height: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>