<template>
  <div class="app">
    <h1>Страница с постами</h1>
    <UIInput
        v-focus
        v-model.trim="searchQuery"
        placeholder="Поиск"
    />
    <div class="app_btns">
      <UIButton
          class="btn_create"
          @click="showDialog"
      >Создать пост
      </UIButton>
      <UISelect
          v-model="selectedSort"
          :options="sortOptions"
      >
      </UISelect>
    </div>
    <UIDialog v-model:show="dialogVisible">
      <PostForm
          @create="createPost"
      />
    </UIDialog>
    <PostList
        :posts="sortedAndSearchedPosts"
        @remove="removePost"
        v-if="!isPostsLoading"
    />
    <div v-intersection="fetchMorePosts" class="observer"></div>
    <!--    <div v-else class="loader"/>-->
    <!--      <UINavSection-->
    <!--          :totalPages="totalPages"-->
    <!--          :page="page"-->
    <!--          v-model="page"-->
    <!--          @changePage="changePage"-->
    <!--      />-->
  </div>
</template>

<script>
import axios from 'axios';
import PostForm from "@/components/PostForm";
import PostList from "@/components/PostList";
import UIDialog from "@/components/UI/UIDialog";
import UIButton from "@/components/UI/UIButton";
import UISelect from "@/components/UI/UISelect";
import UIInput from "@/components/UI/UIInput";
//import UINavSection from "@/components/UI/UINavSection";

export default {
  components: {
    //UINavSection,
    UIInput,
    UISelect,
    UIButton,
    UIDialog,
    PostList,
    PostForm
  },
  data() {
    return {
      posts: [],
      dialogVisible: false,
      isPostsLoading: false,
      selectedSort: '',
      searchQuery: '',
      page: 1,
      limit: 10,
      totalPages: 0,
      sortOptions: [
        {value: 'id', name: 'По id'},
        {value: 'title', name: 'По названию'},
        {value: 'body', name: 'По описанию'}
      ]
    }
  },
  methods: {
    createPost(post){
      this.posts.push(post)
      this.dialogVisible = false
    },
    removePost(post){
      this.posts = this.posts.filter(p => p.id !== post.id)
    },
    showDialog(){
      this.dialogVisible = true
    },
    changePage(pageNumber){
      this.page = pageNumber
      this.fetchPosts()
    },

    async fetchPosts(){
      console.log('start fetch')
      try {
        this.isPostsLoading = true
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
          params: {
            _limit: this.limit,
            _page: this.page,
          }
        })
        this.totalPages = Math.ceil(response.headers['x-total-count'] / this.limit)
        this.posts = response.data
      } catch (e){
        alert('Ошибка')
      } finally {
        this.isPostsLoading = false
      }
    },

    async fetchMorePosts(){
      this.page += 1
      console.log('start fetch')
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
          params: {
            _limit: this.limit,
            _page: this.page,
          }
        })
        this.totalPages = Math.ceil(response.headers['x-total-count'] / this.limit)
        this.posts = [...this.posts, ...response.data]
      } catch (e) {
        alert('Ошибка')
      }
    }
  },
  mounted() {
    this.fetchPosts()
  },
  computed: {
    sortedPosts() {
      return [...this.posts].sort((post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]))
    },
    sortedAndSearchedPosts() {
      return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
    }
  },
}
</script>

<style>
.app_btns {
  display: flex;
  justify-content: space-between;
}
.btn_create {
  border: 10px;
  width: 25%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid teal;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.observer {
  height: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>