<template>
  <div v-if="posts.length > 0">
    <h3>Список постов:</h3>
    <transition-group name="post-list" >
      <PostItem
          v-for="post in posts"
          :post="post"
          :key="post.id"
          @remove="$emit('remove', post)"
      />
    </transition-group>
  </div>
  <h2 v-else class="warming">
    Постов не обнаружено
  </h2>
</template>

<script>
import PostItem from "@/components/PostItem";
export default {
  components: {PostItem},
  props: {
    posts: {
      type: Array,
      require: true,

    }
  }
}
</script>

<style scoped>
.warming {
  text-align: center;
}
.post_section{
  position: fixed;
}
.post-list-item {
  display: inline-block;
  margin-right: 10px;
}
.post-list-enter-active,
.post-list-leave-active {
  transition: all 0.5s ease;
}
.post-list-leave-to,
.post-list-enter-from{
  opacity: 0;
  transform: translateX(30px);
}
.post-list-move {
  transition: transform 0.5s ease;
}
</style>