<template>
  <div class="post">
    <div>
      <div><strong>ID:</strong>{{ post.id }}</div>
      <div><strong>Название:</strong>{{ post.title }}</div>
      <div><strong>Описание:</strong>{{ post.body }}</div>
    </div>
    <div class="btn_post">
      <UIButton
          @click="$router.push(`/posts/${post.id}`)"
      >Перейти
      </UIButton>
      <UIButton
          @click="$emit('remove', post)"
      >Удалить
      </UIButton>
    </div>
  </div>
</template>

<script>
import UIButton from "@/components/UI/UIButton";
export default {
  components: {UIButton},
  props: {
    post: {
      type: Object,
      require: true
    }
  },
}
</script>

<style scoped>
.post {
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_post {
  display: flex;
}
</style>