<template>
  <form @submit.prevent>
    <h4>Введите данные:</h4>
    <UIInput
        v-focus
        v-model="post.title"
        placeholder="Название"
    />
    <UIInput
        v-model="post.body"
        placeholder="Описание"
    />
    <UIButton
        class="btn_form"
        @click="createPost"
    >Создать
    </UIButton>
  </form>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: '',
        body: '',
      }
    }
  },
  methods: {
    createPost(){
      this.post.id = Date.now()
      this.$emit('create', this.post)
      this.post = {
        title: '',
        body: ''
      }
    }
  }

}
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}
.btn_form {
  margin-top: 15px;
  align-self: flex-end;
}
</style>