<template>
  <div class="navbar">
    <div>Навигация</div>
    <div class="navbar_btns">
      <UIButton @click="$router.push('/')">Главная</UIButton>
      <UIButton @click="$router.push('/posts')">Посты</UIButton>
      <UIButton @click="$router.push('/about')">Информация</UIButton>
      <UIButton @click="$router.push('/store')">Глобальное хранилище</UIButton>
      <UIButton @click="$router.push('/composition')">Копозишен Апи</UIButton>
    </div>
  </div>
</template>

<script>

import UIButton from "@/components/UI/UIButton";
export default {
  components: {UIButton}
}

</script>

<style scoped>
.navbar{
  height: 50px;
  background-color: gray;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;

}
.navbar_btns{
  margin-left: auto;
}
</style>