<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'UIButton'
}
</script>

<style scoped>
.btn {
  border-radius: 10px;
  padding: 10px 15px;
  background: none;
  border: 1px solid teal;
  margin: 2px;
}
</style>