<template>
  <div class="dialog" v-if="show" @click="hideDialog">
    <div @click.stop class="dialog_content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import toggelMixin from "@/mixins/toggelMixin";

export default {
  name: "UIDialog",
  mixins: [toggelMixin]
}
</script>

<style scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
}
.dialog_content {
  margin: auto;
  background: white;
  border-radius: 15px;
  min-height: 50px;
  min-width: 300px;
  padding: 20px;
}
</style>