<template>
  <div class="page_nav">
    <div
        v-for="pageNumber in totalPages"
        :key="pageNumber"
        class="page"
        @click="changePage(pageNumber), $emit('changePage', pageNumber)"
        :class="{
          'active_page': page === pageNumber
        }"
    >{{ pageNumber }}
    </div>
  </div>
</template>

<script>
export default {
  name: "UINavSection",
  props: {
    page: {
      type: Number,
      require: true
    },
    totalPages: {
      type: Number,
      require: true
    },
  },
  methods:{
    changePage(pageNumber) {
      this.$emit('update:modelValue', pageNumber)
    }
  }
}
</script>

<style scoped>
.page_nav{
  display: flex;
  margin-top: 10px;
}
.page {
  border:  1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
.active_page {
  border:  2px solid teal;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  background: teal;
}
</style>