<template>
  <select class="select" :value="modelValue" @change="changeOptions">
    <option disabled value="">Выберите из списка</option>
    <option
        v-for="option in options"
        :key="option.value"
        :value="option.value"
    > {{ option.name }}
    </option>
  </select>
</template>

<script>
export default {
  name: "UISelect",
  props: {
    modelValue: {
      type: String,
    },
    options: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    changeOptions(event) {
      this.$emit('update:modelValue', event.target.value)
    }
  }
}
</script>

<style scoped>
.select {
  width: auto;
  border: 2px solid teal;
  padding: 10px 15px;
  margin-top: 10px;
  background: white;
}
</style>